*{
    margin: 0;
    padding: 0;
    
    font-family: "Anonymous Pro", monospace;
}

.navBar{
    height: 12vh;
    width: 100%;
    background-color: #F7E953;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-img{
    height: 100%;
    width: 20%;
    padding-left: 2%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box-img a{
    height: 100%; 
    
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.box-links{
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
}

.box-links ul{
    height: 80%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.box-links ul li:not(:first-child){
    margin-left: 2%;
}

.box-links a{
    text-decoration: none;
    color: black;
}

.box-links a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.container{
    height: 200vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-usuario{
    height: 16%;
    width: 90%;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #d9d9d9;
}

.info-usuario{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.info-usuario input{
    height: 15%;
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    font-size: 1em;

    outline: none;
    background-color: #d9d9d9;
    border: none;
}

.box-eventos{
    height: 15%;
    margin-top: 2%;
}

.btn-salvar{
    height: 90%;
    width: 15%;

    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;

    color: white;
    font-size: 1.1em;
    background-color: #198754;
}

.btn-salvar:hover{
    transition: 0.2s;
    background-color: #167549;
}

.btn-salvar:active{
    transition: 0.2s;
    background-color: #146640;
}

.btn-descartar{
    height: 90%;
    width: 18%;

    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;

    color: white;
    font-size: 1.1em;
    background-color: #DC3545;
}

.btn-descartar:hover{
    transition: 0.2s;
    background-color: #ca3040;
}

.btn-descartar:active{
    transition: 0.2s;
    background-color: #bb2d3b;
}

.info-publicacoes{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.box-extras{
    height: 65%;
    width: 25%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.box-extras strong{
    width: 100%;
    text-align: center;
}

.square{
    height: 65%;
    width: 65%;
    background-color: #1062DD;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFE900;
    border-radius: 8px;
    font-size: 3em;
    font-weight: bold;
    border: 4px solid black;

    box-shadow: 2px 2px 14px 2px #1062DD;
}

.box-interacoes{
    height: 75%;
    width: 90%;
    margin-top: 1%;

    display: flex;
    flex-direction: column;
}

.box-titulo-pub, .box-titulo-com{
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2em;
}

.box-titulo-pub{
    border-top-left-radius: 4px;
}

.box-titulo-com{
    border-top-right-radius: 4px;
}


.box-conteudos{
    height: 90%;
    width: 100%;
    margin: 2% 0%;

    display: block;
    overflow-y: auto;

    border: 3px solid #d9d9d9;
    box-shadow: 4px 8px 6px 1px #d9d9d9;
}

.conteudos{
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.info-conteudo{
    height: auto;
    min-height: 20%;
    width: 95%;
    margin-top: 1.5%;
    padding-bottom: 1%;
}

.info-conteudo:not(:last-child){
    border-bottom: 1px solid #d9d9d9;
}

.info-conteudo h3{
    height: 70%;
    width: 100%;

    display: flex;
    align-items: center;
}

.info-conteudo div{
    height: 30%;
    width: 100%;
}

.info-conteudo div ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.info-conteudo div ul li:not(:first-child){
    margin-left: 1%;
}

.footer{
    height: 12vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: black;
}

.span-inscricao{
    font-weight: bolder;
    font-size: 1.1em;
    color: #858585;
}